@keyframes cardAnim{
  from{
    transform: translateY(-3000px);
  }
  to{
    transform: translateY(0);
  }
}
.card_wrap {
  margin: 0 auto;
  margin-top: 7em;
  width: 75%;
  background: #fff;
  color: #333;
  box-shadow: 15px 15px 10px rgba(0,0,0,.2);
  animation: cardAnim .75s;
}

.card_title {
  padding: 1em;
  font-size: 1.5em;
  border-bottom: 2px solid coral;
}
.card_body {
  min-height: 15em;
  padding: 2em 3em;
  font-size: 1.25em;
  background: repeating-linear-gradient(
    180deg,
    #fff,
    #fff 50px,
    rgba(100, 149, 237, 0.25) 50px,
    rgba(100, 149, 237, 0.25) 51px
  );
}
.choice_wrap{
  font-size: 1em;
  padding: 1em 0;
}
.choice{
  border: none;
  width: 100%;
  text-align: center;
  padding: 1em 1.5em;
  color: #fff;
  font-size: 1em;
  background: coral;
  cursor: pointer;
}
.choice:hover{
  outline: 5px solid cadetblue;
}
