#footer{
  display: block;
  padding: 4em 0;
  background: #333;
}

.footer_top{
  display: block;
  padding: 0 0 5% 0;
  text-align: center;
  font-size: 1.5em;
  color: #555;
}
.footer_flex{
  display: flex;
  justify-content: space-between;
}
#footer a{
  color: cadetblue;
  text-decoration: none;
  padding: 0 .5em;
}
#footer a:hover{
  color: coral;
}
#footer .lana, #footer .mat{
  display: inline-block;
  vertical-align: top;
}

#footer .copyright{
  width: 100%;
  padding-top: 5%;
  text-align: center;
  color: #555;
  font-size: .8em;
}

@media screen and (max-width: 960px){
  
}