#footer{
  display: block;
  padding: 4em 0;
  background: #333;
}

#footer .container{
  margin: 0 auto;
  width: 1024px;
}

.footer_top{
  display: block;
  padding: 0 0 5% 0;
  text-align: center;
  font-size: 1.5em;
  color: #555;
}

#footer a{
  color: cadetblue;
  text-decoration: none;
}
#footer a:hover{
  color: coral;
}
#footer .lana, #footer .mat{
  display: inline-block;
  vertical-align: top;
  width: calc(40% - 2px);
  padding: 0 5%;
}

#footer .copyright{
  width: 100%;
  padding-top: 5%;
  text-align: center;
  color: #555;
  font-size: .8em;
}