@keyframes headerSlideIn{
  from{
    opacity: 0;
    transform: translateY(-200px);
  }
  to{
    opacity: 1;
    transform: translateY(0)    
  }
}
nav{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: cadetblue;
  animation: headerSlideIn 1.75s;
}


@media screen and (max-width: 960px){
  
}